.Class_Block_Detail {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Class_Block_Side {
  width: 100%;
}

.Class_Block_Side label {
  display: block !important;
  background: none !important;
  color: black !important;
  width: 100%;
}

.Class_Note_Input {
  display: block !important; 
  margin: auto;
  font-family: inherit;
  font-size: medium;
  border: none;
  border-bottom: 1px #333 solid;
}

.Class_Edit {
  border: none;
  border-left: 1px #aaa solid;
  background: #eee;
  font-size: medium;
  margin: 0 0 0rem 0.5rem;
  padding: 0.5rem 1.2rem;
}

#Update_Status {
  display: inline-block;
  font-size: 100%;
  color: #666;
  margin: 0;
  width: 100%;
}

#Update_Status.Updated {
  color: #000;
}

#Update_Status.Updating {
  color: #000;
}

#Control {
  display: flex;
  flex-direction: column;
}

#Control>div {
  display: flex;
  flex-direction: row;
}

#Force_Update {
  padding: 0.5rem 1rem;
  min-width: 6rem;
  border: 1px #aaa solid;
  background: #cfc;
}

h2#Date {
  margin: 0;
  text-align: center;
}

span#Date_Year,
span#Date_Month,
span#Date_Day,
span#Date_The_Day {
  font-size: 2.5rem;
  margin: 0rem 0.5rem;
}

span#Date_Year,
span#Date_YMSplit {
  display: none;
}

span#Date_Year,
span#Date_YMSplit,
span#Date_MDSplit,
span#Date_TDSplit,
span#Date_DSplit {
  font-size: 1.5rem;
  color: #666;
}

#Add_Class {
  width: 100%;
  min-height: 4rem;
}

div#Edit_Page_Wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: #222222d0;
  align-items: center;
  justify-content: center;
  display: flex;
}

#Edit_Page {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background-color: #fff;
  padding: 0.5rem;
  max-width: 60rem;
  max-height: 60rem;
  vertical-align: middle;
  justify-content: center;
  border: .1rem #666 solid;
  box-sizing: border-box;
  overflow-y: scroll;
}


#Edit_Page label {
  margin-bottom: 0.5rem;
}

#Edit_Page label {
  width: 100%;
  display: flex;
}

#Edit_Control {
  display: flex;
  width: 100%;
}

h2#Edit_Title {
  width: 100%;
  margin: 0;
}

#Edit_Accept {
  min-width: 4rem;
  padding: 0.5rem;
}

.Edit_ActBtn {
  white-space: nowrap;
  min-width: 4rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  border: 1px #666 solid;
  overflow: hidden;
}

#Edit_Close {
  background-color: palegreen;
}

/* Not implemented yet !!! */
#Edit_Discard {
  background-color: #ebb1f0;
}

#Edit_Delete {
  background: #f0b890;
}

#Edit_ClassSel {
  display: flex;
  justify-content: left;
  min-height: 3rem;
}

.Edit_Desc {
  font-size: 100%;
  color: #666;
  vertical-align: middle;
  margin: 0.5rem 1rem;
  white-space: nowrap;
}

span.Edit_Desc {
  display: inline;
}

#Edit_ClassType {
  width: 100%;
  font-size: 120%;
  vertical-align: middle;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-bottom: 2px #aaa solid;
  background-image: url("/resources/images/pulldownarrow.webp");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

#Edit_Note {
    display: block !important;
    width: 100%;
    font-family: inherit;
    font-size: medium;
    border: none;
    border-bottom: 1px #333 solid;
    background: inherit;
}

#Edit_Important {
  height: 1.5rem;
  width: 1.5rem;
/*
  appearance: none;
  background-color: #888;
  */
}

#Edit_Important:checked {
  background-color: #7f7;
}

#Edit_Important::after {
  content: "off";
}

#Edit_Important:checked:after {
  content: "on";
}

#Edit_Date {
  font-size: inherit;
  font-size: 120%;
  font-family: inherit;
}

#Timetable_GroupText {
  text-align: center;
}

#Timetable_Options {
}

#Timetable_Options > form {
  display: flex;
  flex-direction: column;
}

#Timetable_Options>form>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#Timetable_Options>form>div>label {
  margin: 0 0.5rem;
}

#IsHoliday {
height: 1.5rem;
width: 1.5rem;
}

.Daily_Note_Input {
  /* 折返し */
  width: calc(100% - 4rem);
  margin: 0 2rem;
  text-align: left !important;
  color: #444;
  font-size: inherit;
  font-family: inherit;
}

.OptLabel {
  /*
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0.5rem 0;
  */
}

#OptNote {
  flex-direction: column;
}


div#Edit_LoadFromWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #222222d0;
  align-items: center;
  justify-content: center;
}

#Edit_LoadFrom {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background-color: #fff;
  padding: 1rem;
  max-width: 60rem;
  max-height: 60rem;
  vertical-align: middle;
  border: .1rem #666 solid;
  box-sizing: border-box;
  overflow-y: auto;
}

#Edit_LoadFrom h2{
  margin: 0 0 0 0;
}

#Edit_LoadFrom h3 {
  margin: 0.5rem 0 0.5rem 0;
}

#Edit_LoadFrom hr {
  width: 100%;
  margin: 0 0 0.5rem 0;
}

#Edit_LoadFrom p {
  margin: 0.5rem 0;
}

#Edit_LoadFromControl {
  display: flex;
  flex-direction: row;
}

#Edit_LoadFromControl h2 {
  width: 100%;
}

#Edit_LoadFromControl button {
  white-space: nowrap;
  min-width: 4rem;
}

#Edit_LoadFrom button {
  min-height: 3rem;
  width: 10rem;
}

.FlexHBtn {
  display: flex;
  flex-direction: row;
}

.FlexHBtn button {
  min-height: 3rem;
  white-space: nowrap;
  margin: 0.5rem;
}
/*
#Edit_Important::before {
  appearance: none;
  content: "off";
  width: 3rem;
  height: 1.2rem;
  visibility: hidden;
}

#Edit_Important::after {
  content: "on";
  width: 3rem;
  height: 1.2rem;
  visibility: visible;
}

#Edit_Important:checked {
  appearance: none;
  background: red;
}

#Edit_Important:checked::before {
  visibility: visible;
}

#Edit_Important:checked::after {
  visibility: hidden;
}
*/

#Edit_ClassLabelTitle {
  margin: 0;
}

