body {
  background-color: white;
  font-family: 'メイリオ', Meiryo, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  max-width: 80rem;
  margin: 0rem auto;
  /* If unnecessary, remove this */
  background-image: url("/resources/images/grid.webp");

  display: flex;
  flex-direction: row-reverse;
}

body>* {
  max-width: 80rem;
}

article {
  margin: 4rem auto 3rem auto;
  width: 100%;
  max-width: 90vw;
  /* Overscroll */
  padding-bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article>* {
  width: 100%;
}

#Title {
  display: inline-block;
  margin: 0 0 0 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  height: 3rem;
  width: 100%;
  text-align: center;
  /* むりやり */
  line-height: 3rem;
}

div.Class_Block {
  display: flex;
  flex-direction: row;
  /*  box-shadow: 0 0 1px 0px black; */
  margin: 0.5rem 0rem;
  /*padding: 0.5rem;*/
  border: 1px solid #aaa;
  box-sizing: border-box;
}

label.Class_Label {
  display: flex;
  border-right: 1px solid #aaa;
  font-size: 3.5rem;
  padding: .5rem 0.4rem .5rem 0.2rem;
  vertical-align: middle;
  text-align: right;

  background-color: var(--subject-color);
}

div.Class_Block.important {
  border: 2px #000 solid;
}

div.Class_Block.important label {
  color: white;
  font-weight: bolder;
  background-color: var(--subject-emphasize-color);
}

div.Class_Block.important label * {
  font-weight: normal;
  color: black;
}

h3.Class_Name {
  font-weight: bold !important;
}

.Class_Emphasizer {
  display: flex;
  content: "";
  height: 100%;
  width: 2em;
  background-color: var(--subject-color);
}

div.Class_Block.important>.Class_Emphasizer {
  background-color: var(--subject-color);
}

div.Class_Block_Side {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .5rem 0;
  padding-left: 0.6rem;
  vertical-align: top;
  text-align: center;
}

div.Class_Block_Label {
  display: flex;
}

.Class_Name {
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
}

.Timetable_Desc {
  text-align: center;
}

.Class_Note {
  /* 折返し */
  width: calc(100% - 1rem);
  word-wrap: break-word;
  overflow-wrap: anywhere;
  text-align: left;
  margin: 0rem 1rem;
}

.Daily_Note {
  /* 折返し */
  width: calc(100% - 1rem);
  word-wrap: break-word;
  overflow-wrap: anywhere;
  margin: 0rem;
  text-align: center;
  color: #444;
}

#Daily_Note {
  /* 折返し */
  width: calc(100% - 1rem);
  word-wrap: break-word;
  overflow-wrap: anywhere;
  margin: 0rem;
  text-align: center;
  color: #444;
}

@media (max-width: 55rem) {
  article {
    display: block;
  }
}

@keyframes LoadBox {
  0% {
    background-color: #f33;
    transform: rotateX(180deg);
  }

  25% {
    background-color: #55f;
    transform: rotateY(180deg);
  }

  50% {
    background-color: #5c5;
    transform: rotateX(-180deg);
  }

  75% {
    background-color: #bb2;
    transform: rotateY(-180deg);
  }

  99.9% {
    transform: rotate(1440deg);
  }

  100% {
    transform: rotate(0deg);
    background-color: #f33;
  }
}

@keyframes LoadBox-2 {
  0% {
    transform: rotate(0deg);
    background-color: #f33;
    transform: rotateX(180deg);
  }

  25% {
    transform: rotate(360deg);
    background-color: #55f;
    transform: rotateY(180deg);
  }

  50% {
    transform: rotate(720deg);
    background-color: #5c5;
    transform: rotateX(-180deg);
  }

  75% {
    transform: rotate(1080deg);
    background-color: #bb2;
    transform: rotateY(-180deg);
  }

  99.9% {
    transform: rotate(1440deg);
    transform: rotateX(180deg);

  }

  100% {
    transform: rotate(0deg);
    background-color: #f33;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes LoadIn {
  0% {
    opacity: 0;
    scale: 1.3;
  }

  0.2% {
    opacity: 1;
    scale: 1.0;
  }

  100% {
    opacity: 1;
    scale: 1.0;
  }
}

@keyframes LoadOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    scale: 1.3;
  }
}